<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <style>
        .cl{
            background_color='green'
            
        }
    </style>
</head>
<body>
    <form method='POST'enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add Product</h1>
        {{form}}
        <input type="submit" class='btn btn_primary' value="Add Product">
    </form>
</body>
</html>