<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <form action="{% url 'verify_email' %}" method="POST">
        {% csrf_token %}
        <center>
            Enter the email ID:
            <input type="text" placeholder="Enter the email ID" name="email">
            <br>
            <input type="submit" value="Submit">
        </center>
    </form>
</body>
</html>